# Jupyter Notebook
ViewClassification/VC_Default/.ipynb_checkpoints

# PyCache
ViewClassification/VC_Default/__pycache__

# BackUp Folders
BackUp
ViewClassification/VC_Default/BackUp

# Dataset Folder
Dataset

# SetUp File
ViewClassification/VC_Default/paths_setup.py
